html{
    background-image: linear-gradient(rgb(245, 241, 236), rgba(238, 183, 116, 0.746));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    height: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

/* CABEÇALHO */
.filtersContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.estiloGeralBotoes{
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
    color: black;
    background-color: #fbdd88;
    height: 70px;
    width: 150px;
    font-size: 17px;
}

.estiloGeralBotoes--filtrarHortifruti {
    background-color: #fbdd88;
    color: rgb(15, 15, 15);
    height: 70px;
    width: 150px;
    font-size: 17px;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border-radius: 5px 0 0 5px;
    border: 1px solid rgb(236, 108, 10);
    padding: 0 10px;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    background-color: rgb(206, 134, 0);
    color: white;
    border-radius: 0 5px 5px 0;
}

/* CONTEÚDO */
main{
    display: flex;
    padding: 30px;
    max-width: 1500px;
    margin: auto; 
}

.containerListaProdutos {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.containerListaProdutos ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.listaProdutos:not(ol li) {
    color: black;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: ease-in-out .1s;
    width: 20%;
    background-color: white;
}

.listaProdutos:not(ol li):hover {
    box-shadow: 3px 3px 13px 10px rgb(182, 177, 177);
}

.listaProdutos img {
    width: 100%;
    max-width: 200px;
}

.listaProdutos h3 {
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 40px;
}

.listaProdutos p {
    font-size: 20px;
    color:rgb(230, 108, 9);
}

.listaProdutos span {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
}

.liComponentes p{
    font-size: 18px;
    color: black;
}

.listaProdutos button {
    background-color: rgb(189, 64, 42);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 110px;
    margin-top: 20px;
}

.listaProdutos button:hover {
    box-shadow: 1px 5px 8px rgb(78, 77, 77);
}

.listaProdutos ol{
    list-style: inside decimal;
    text-align: left;
}
.listaProdutos ol li{
    font-size: 13px;
    margin: 7px 0;
}

/* PREÇO TOTAL */
.containerPrecoTotal{
    text-align: center;
    margin: 40px 0 30px;
}
.containerPrecoTotal p{
    font-size: 22px ;
    font-weight: 600;
}

.containerPrecoTotal p span{}

.containerCarrinho {
    width: 450px;
    text-align: center;
    border: 4px solid rgb(255, 109, 11);
    margin-left: 100px;
    border-radius: 15px;
    background: white;
    
}

.containerCarrinho img {
    max-width: 100px;
}

.containerCarrinho ul {    
    display: flex;
    flex-direction: column;
}

.containerCarrinho button {
    display: none;
}

.containerCarrinho li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.containerCarrinho li span{
    font-size: 16px;
}

.containerCarrinho li ol{
    display: none;
    
}
.containerCarrinho li p{
    font-size: 20px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(230, 108, 9);
}

.containerCarrinho li h3{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;    
}